<!-- <app-add-ticket *ngIf="modalService.showDialog" style="z-index: 150; height: 100%; margin: 0 auto;"></app-add-ticket> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <title>Tickets</title>
</head>

<body>   
    <div class="main-content">
        <app-header></app-header> 
        <main>
            <div class="profile-content">
                <!-- <div class="btn-container">                   
                    <button type="submit" (click)="modalService.showDialog = true">
                        New Ticket
                    </button>
                </div> -->
                <div class="prof-container">
                    <p class="title">Profile Settings</p>
                    <div class="prof-head">
                            <div class="head-img"></div>
                            <div>
                                <p class="name">Jane Doe</p>
                                <p class="grey">HR Admin, Admin</p>
                                <p class="grey1">janedoe@gmail.com</p>
                            </div>
                    </div>
                    <div class="section">
                        <div class="top-section">
                            <p>Name</p>
                            <input type="text" disabled value="Jane Doe">
                            <p>Role</p>
                            <input type="text" disabled value="Hr Admin">
                        </div>
                        <div>
                            <p>Email Address</p>
                            <input type="text" disabled value="janedoe@gmail.com">
                            
                            <p>Deparment</p>
                            <input type="text" disabled value="Admin">
                        </div>
                    </div>
                    <button type="submit">Change Password</button>
                </div> 
            </div>    
        </main>
    </div>

</body>

</html>
