<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HR Application</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    
    <div #container class="container" id="container">
        <div class="form-container sign-up-container">
            <form class="form"action="#">
                <img src="assets/img/logo.png" class="img-forgot">
                <h3>Forgot your password? Don't Worry!</h3>
                <h4>Send us your email so we can help you.</h4>
                <input type="email" placeholder="Email" />
                <button>Send Email</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <div class="form">
                <img src="assets/img/logo.png" class="img-log">
                <h1>Log In  </h1>        
                <input type="email" placeholder="Email" #email/>
                <input type="password" placeholder="Password" #password/>
                <!-- <button type="submit">Log In</button> -->
                <button (click)="signIn(email, password)">Log In</button>
            </div>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Log In Here!</h1><br>
                    <button class="ghost" (click)="goToSignUp(container)">Log In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Forgot Password ?</h1><br>
                    <button class="ghost" (click)="goToSignIn(container)">Account Recovery</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>