
<div id="container">
    <div id="header">Change Password</div>
    <div id="content">
        <div class="header">
        <p>In order to protect your account, make sure
            your password must contain:</p>
            <ul>
                <li>Is at least 8 characters</li>
                <li>Must contain a combination of letters, numbers and special characters</li>
            </ul>
        </div>    
        <form action="">
            <div class="main">
                <div class="input-fields">
                    <p>Current Password</p>
                    <input type="text">        
                </div>
                <div class="input-fields">
                    <p>New Password</p>
                    <input type="text" placeholder="Create New Password">        
                </div>
                <div class="input-fields">
                    <p>Confirm Password</p>
                    <input type="text" placeholder="Confirm Password">        
                </div>


            </div>   
                 
        </form>

        <div id="actions">
            <!-- <button class="cancel" (click)="modalService.showDialog = false">Cancel</button> -->
            <button class="submit">Save Changes</button>
        </div>
    </div>
    
</div>
