<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <title>Dashboard</title>
</head>

<body>
    <input type="checkbox" id="sidebar-toggle">
    <div class="sidebar">
        <div class="sidebar-header">
            <h3 class="brand">
                <span>Jane Dae</span>
            </h3>
            <p>Hr Employee</p>
            <label for="sidebar-toggle" class="ti-menu-alt"></label>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li routerLink="/hrdashboard">
                    <a>
                        <span class="ti-home"></span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="ti-receipt "></span>
                        <span>Reports</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="ti-id-badge"></span>
                        <span>Users</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="ti-user"></span>
                        <span>Profile</span>
                    </a>
                </li>   
                <li>
                    <a>
                        <span class="ti-arrow-circle-right"></span>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>   
    <div class="main-content">
        <header>
            <div>
                <span><img src="assets/img/logo.png" class="logo"></span>
            </div>
            <!-- <div class="social-icons">
                <h3>JOHN DOE<h5>HR HEAD</h5></h3>
                <div></div>
            </div> -->
        </header>
        <main>
            <div class="thread-container">
                <div class="thread1">
                    <hr>
                    <div class="dash-title">
                        <button class="newTicket"><a href="#">Marked as Resolved</a></button>
                    </div>
                    <h3>This is the subject of the ticket.</h3>
                    <table>
                        <tr>
                            <td>Assignee</td>
                            <td>Jane Doe</td>
                        </tr>
                        <tr>
                            <td>Category</td>
                            <td>Engagement (PNR)</td>
                        </tr>
                        <tr>
                            <td>Due Date</td>
                            <td><input type="date"></td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td><p class="status pending">Ongoing</p></td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td> Lorem ipsum dolor sit amet, consectetur 
                                adipiscing elit, sed do eiusmod tempor 
                                incididunt ut labore et dolore magna aliqua. 
                                Ut enim ad minim veniam, quis nostrud 
                                exercitation ullamco laboris nisi ut aliquip 
                                ex ea commodo consequat. </td>
                        </tr>
                    </table>
                    <hr>
                </div>
                <div class="thread2">
                    <div class="scroll">
                        <p>Jane Doe created this ticket. <span class="sgray">2 days ago</span></p>
                        <p><span class="sbold">HR update:</span> Lorem ipsum dolor sit amet, consectetur 
                        adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud 
                        exercitation ullamco laboris nisi ut aliquip 
                        ex ea commodo consequat.<span class="sgray">1 day ago</span></p>
                        <p><span class="sbold">Employee update:</span> Lorem ipsum dolor sit amet, consectetur 
                        adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud 
                        exercitation ullamco laboris nisi ut aliquip 
                        ex ea commodo consequat.<span class="sgray">16h</span></p>
                        <p class="italic">This ticket has been marked as resolved</p>
                    </div>
                    <div class="btm-part">
                        <textarea placeholder="Provide a feed back"></textarea><br>
                        <button class="send"><a href="#">Send</a></button>    
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>