
<div id="container">
    <div id="header">Add User</div>
    <div id="content">
        <form action="">
            <div class="main">
                <div class="input-fields">
                    <p>Name</p>
                    <input type="text">        
                </div>
                <div class="input-fields">
                    <p>Email</p>
                    <input type="text">        
                </div>
                <div class="default">
                    <p>Employee Role</p>
                    <select>
                        <option value="">Hr Employee</option>
                        <option value="">Hr Admin</option>
                        <option value="">Employee</option>
                        <option value="">Coder</option>
                    </select>
                </div>
                <div class="input-fields">
                    <p>Department</p>
                    <input type="text" >        
                </div>

            </div>   
                 
        </form>

        <div id="actions">
            <!-- <button class="cancel" (click)="modalService.showDialog = false">Cancel</button> -->
            <button class="submit">Add User</button>
        </div>
    </div>
    
</div>
