<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <title>Dashboard</title>
</head>

<body>
    <app-header-hremp></app-header-hremp>
    <div class="main-content">
        <main>
            <div class="dash-title">
                <h2>Welcome Back, Jane Dae.</h2>
                <p>Here's what's going on while you were gone</p>
            </div>  
            <div class="body-container">
                <!-- <div class="sections"> -->
                    <div class="dash-cards-1">
                        <div class="section1">
                            <div class="card-single">
                                <div class="card-boy">
                                    <h1>123</h1>
                                    <h4>Ongoing tickets</h4>
                                </div>
                            </div>
                            <div class="card-single">
                                <div class="card-boy">
                                    <h1>12</h1>
                                    <h4>Pending tickets</h4>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="section2">
                            <div class="card-single">
                                <div class="card-boy">
                                    <h1>1,234</h1>
                                    <h4>Resolved tickets</h4>
                                </div>
                            </div>
                            <div class="card-single">
                                <div class="card-boy">
                                    <h1>12</h1>
                                    <h4>Cancelled request</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
                    <div class="updates">
                        <p>Recent Updates</p>
                    </div>
            </div>
            <div class="dash-footer">
                <div class="btr">
                    <p>Task assigned to you</p>
                    <div class="dropdown">
                        <select name="All" id="" value="All" (change)="onSelectionChange($event)">
                          <option value="All">All</option>
                          <option value="Aging">Aging</option>
                          <!-- <option value="Due Date">Due Date</option>
                          <option value="Status">Status</option>
                          <option value="Category">Category</option> -->
                        </select>
                    </div>                      
     
                </div>
                <div class="category">               
                    <div class="table-container">
                        <table *ngIf="response && response[0]">
                            <tr>
                              <th>ID</th>
                              <th>Subject</th>
                              <th>Category</th>
                              <th>Priority</th>
                              <th>Status</th>
                              <th>Due Date</th>
                              <th>Actions</th>
                            </tr>
                            <tr *ngFor="let ticket of response[0]">
                              <td>{{ ticket?.ticketID }}</td>
                              <td>{{ ticket?.description }}</td>
                              <td>{{ ticket?.category }}</td>
                              <td>
                                <span *ngIf="ticket?.priority === 'high'" style="font-size:12px; padding:3px 7.8px; background-color: #FF8F8F; border: 3px solid #FF6B6B; border-radius: 15px;">high</span>
                                <span *ngIf="ticket?.priority === 'mid'" style="font-size:12px; padding:3px 9px; background-color: #F7BE6D; border: 3px solid #FBB347; border-radius: 15px;">mid</span>
                                <span *ngIf="ticket?.priority === 'low'" style="font-size:12px; padding:3px 9px; background-color: #B1DD9E; border: 3px solid #97CF8A; border-radius: 15px;">low</span>
                            </td>
                              <td>
                                <span *ngIf="ticket?.status === '2'" style="font-size:10px; padding:5px; background-color: rgb(6, 202, 49); border-radius: 10px;">Resolved</span>
                                <span *ngIf="ticket?.status === '1'" style="font-size:10px; padding:4.8px 6px; background-color: orangered; border-radius: 10px;">Ongoing</span>
                            </td>

                              <td>{{ ticket?.date_needed }}</td>
                              <td><button 
                                style="width:25px;border: none;
                                background-color: transparent;
                                text-decoration: none;">
                                    <img src="/assets/icons/eye.svg" alt="My Icon">
                                </button>
                              </td>
                            </tr>
                          </table>
                    </div>
                </div>
            </div>    
        </main>
    </div>
</body>

</html>
