<input type="checkbox" id="sidebar-toggle">
<div class="sidebar">
    <div class="sidebar-header">
        <h3 class="brand">
            <span>{{name}}</span>
        </h3>
        <p>Employee</p>
        <label for="sidebar-toggle" class="ti-menu-alt"></label>
    </div>
    <div class="sidebar-menu">
        <ul>
            <li routerLink="/ticketlist_employee">
                <a>
                    <span class="ti-ticket"></span>
                    <span>Tickets</span>
                </a>
            </li>
            <li routerLink="/profile_emp">
                <a>
                    <span class="ti-user"></span>
                    <span>Profile</span>
                </a>
            </li>   
            <li (click)="logout()">
                <a>
                    <span class="ti-arrow-circle-right"></span>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>   
