<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <title>Hr Employee Dashboard</title>
</head>

<body>
    <app-navbar-emp></app-navbar-emp>
    <header>
        <div>
            <span><img src="assets/img/logo.png" class="logo"></span>
        </div>
        <!-- <div class="social-icons">
            <h3>JOHN DOE<h5>HR HEAD</h5></h3>
            <div></div>
        </div> -->
    </header>
</body>

</html>