<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <title>Dashboard</title>
</head>

<body>
    <app-header></app-header>
    <div class="main-content">
        <main>
            <div class="dash-title">
               <a href="#" type="button" class="newTicket">Add Category</a>
            </div>  
            <h2>Categories</h2>
            <div class="table__body ">

                <table *ngIf="response && response[0]">
                    <thead>
                        <tr>
                            <th> Id</th>
                            <th> Category Name</th>
                            <th> Description</th>
                            <th> Default Assignee</th>
                            <th> Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of response[0]">
                            <td mat-cell [matTooltip]="tooltipText"> {{ category?.categoryID }} </td>
                            <td> {{ category?.categoryname }}</td>
                            <td> {{ category?.description }}</td>
                            <td> {{ category?.name }}</td>
                            <td>
                                <span (click)="editCategory(category.categoryID)" class="ti-pencil"></span>
                                <span (click)="deleteCategory(category.categoryID)" class="ti-trash"></span>
                            </td>
                        </tr>
                    </tbody>
                    <!-- <tfoot>
                        <tr>
                            <td colspan="6">1 of 10</td>
                        </tr>
                    </tfoot> -->
                </table>
            </div>
        </main> 
    </div>
</body>

</html>