<div id="container">
    <div id="header">New Ticket</div>
    <div id="content">
        <form (ngSubmit) = "onSubmit()" name="myForm">
            <div class="main">
                <div class="input-fields" *ngIf="response && response[0]">
                    <label for="">Category</label>
                    <select name="category" [(ngModel)]="category" id="" (change)="onSelectionChange($event)" style="padding: 8px 15px; width: 100%; background: #F0F6F7; border: 1px solid #87bcd1;">
                        <option *ngFor="let category of response[0]" value="{{category?.categoryID}}">{{ category?.categoryname }}</option>
                    </select>
                    
                </div>
                <div class="input-fields" *ngIf="distinctNames">
                    <label for="">Assigned to</label>
                    <select name="chosen_hr" [(ngModel)]="chosen_hr" style="padding: 8px 15px; width: 100%; background: #F0F6F7; border: 1px solid #87bcd1;">
                        <option *ngFor="let item of distinctNames" value="{{item.id}}">
                            {{item.name}}
                        </option>
                    </select>                     
                </div>
                 
                <div class="input-fields">
                    <label for="">Subject</label>
                    <input name="subject" [(ngModel)]="subject" type="text">
                </div>
                <div class="input-fields">
                    <label for="">Attach File</label>
                    <input name="attach_file" [(ngModel)]="attach_file" type="file" style="border: 1px solid #333; opacity: 50%;" class="file">
                </div>    
                <div class="input-fields">
                    <label for="">Date Needed</label>
                    <input name="date_needed" [(ngModel)]="date_needed" type="text">
                </div>  

                <div class="textarea-input">
                    <div class="bastahaha">
                        <label for="">Description</label><br>
                        <textarea name="description" [(ngModel)]="description" id="" cols="79" rows="4" style="background: #F0F6F7; border: 1px solid #87bcd1;"></textarea>
                    </div>
                </div>  
                
                <div id="actions">
                    <button class="cancel" (click)="modalService.showDialog = false" name="cancel">Cancel</button>
                    <button class="submit" type="submit" name="submit">File Ticket</button>
                </div>
            </div>   
                 
        </form>
    </div>
    
</div>
